mark {
  background-color: white;
  color: red;
  font-weight: bold;
}
.borderless   {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important; 
	border: none !important; 
	font-size: large !important;
	text-align: center ;
	font-weight: bold;
}

.godMode {
    display: none;
}

.tooltip-inner {
    white-space: pre-wrap;
}

.hter   {
	font-size: small !important;
	text-align: left ;
	font-weight: normal;
}

.progress {
	margin: 0 px !important;
}